      <img
        src="https://m.media-amazon.com/images/S/assets.wholefoodsmarket.com//content/c1/94/2a952247437680c17e0702f75173/beer-hero-2x._TTW_._CR0,0,3000,1200_._SR2000,800_._QL100_.jpg"
        class="img-fluid"
        alt="..."
      />

			<p class="mt-5 mb-3 text-muted">&copy; Team 5 2021</p>