	<div class="bgimg-1">
  	<div class="caption">
  	<span class="border">
			<a class="getStarted" href="/mappage">
				Lets get Started!
			</a>
		</span>
  </div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 style="text-align:center;">Lets go on a Journey</h3>
  <p style="text-align:center;">Looking for a brewery in Colorado? Wait no further brewski! Let ya boy brew find you a new hangout spot for gang to sit back and try the new upcoming brews.</p>
	<p style="text-align:center;">
		With over 400 different breweries to choose from how can you go wrong. On our map page we will weekly pick through out top ten breweries to try for your weekend or wasted wednesday needs.   
	</p>
	<p style="text-align:center;">
		Found one that you really enjoy? Great! Sign up with us to write a review and let others know what you're thinking. If not thats fine too as we allow anyone to read the reviews on our site.  
	</p>
	<p style="text-align:center;">Stay Frosty by Brews!</p>
</div>

<div class="bgimg-2">
  <div class="caption">
  <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">~Refresh~</span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;">
  <p>Were thrilled to have you here weather you're a first time beer enthusiast or a long time racker of bottles.</p>
  </div>
</div>

<div class="bgimg-3">
  <div class="caption">
  <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">~Relax~</span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;">
  <p>With new and exciting breweries opening almost everyday in the state its almost too much to handle. Focus in on where you want to get a nice cold one at and we'll help you the rest of the way.</p>
  </div>
</div>

<div class="bgimg-1">
  <div class="caption">
  <span id="end" class="border borderCursive">Thanks Brewski!</span>
  </div>
</div>