<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" >Search a city and find all the Breweries in that city! </a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="City" aria-label="Search">
      <button class="btn btn-outline-success" style='background:white; color:black;' type="submit">Search!</button>
    </form>
  </div>
</nav>

<div id="map"></div>

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <form class="d-flex" id="form_search">
      <input class="form-control me-2" id="find_city" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" id="find_button" type="submit">Search</button>
    </form>
  </div>
</nav>

<style>
  .marker { background-image: url('./images/push.png'); background-size:
  cover; width: 50px; height: 50px; border-radius: 50%; cursor: pointer; }
  
  .mapboxgl-popup { max-width: 200px; } .mapboxgl-popup-content { text-align:
  center; font-family: 'Open Sans', sans-serif; }
</style>

<div class="container">

<div class="list-group">
  <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
    Brewery Name:
  </button>
  <button type="button" class="list-group-item list-group-item-action">A second item</button>
  <button type="button" class="list-group-item list-group-item-action">A third button item</button>
  <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
</div>

</div>
<script src="/js/mappage.js"></script>
