<body class="ratings-body">
<div class="ratings-container">
        <div class="ratings-post">
            <div class="ratings-text">
                Thanks for your rating!
            </div>
        </div>
        <div class="star-widget">
            <input type="radio" name="rate" id="rate-5">
            <label for="rate-5" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-4">
            <label for="rate-4" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-3">
            <label for="rate-3" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-2">
            <label for="rate-2" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-1">
            <label for="rate-1" class="fas fa-star"></label>
            <form class="ratings-form" action="/mappage">
                <header></header>
                <div class="ratings-textarea">
                    <textarea cols="30" maxlength="255" placeholder="Describe your experience.."></textarea>
                    <br>
                    <div class="ratings-btn">
                        <button type="submit">Post</button>

    <script src="../public/js/ratings-input.js"></script>
    <script></script>
    </body>