@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
/* *{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */
.ratings-body{
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
    background: #fff;
}
.ratings-container{
    position: relative;
    width: 400px;
    background: #111;
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.ratings-container .ratings-post{
    display: none;
}
.ratings-container .ratings-text{
    font-size: 25px;
    color: #666;
    font-weight: 500;
}
.container .edit{ 
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
}
.container .edit:hover{
    text-decoration: underline;
}
.ratings-container .star-widget input{
    display: none;
}
.star-widget label{
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
}
input:checked ~ label{
    color: #fd4;
}
input#rate-5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
}
#rate-1:checked ~ .ratings-form header:before{
    content: "I just hate it! ";
}
#rate-2:checked ~ .ratings-form header:before{
    content: "I don't like it! ";
}
#rate-3:checked ~ .ratings-form header:before{
    content: "I like it! ";
}
#rate-4:checked ~ .ratings-form header:before{
    content: "It's awesome!! ";
}
#rate-5:checked ~ .ratings-form header:before{
    content: "I love it!!! ";
}
.ratings-container .ratings-form{
    display: none;
}
input:checked ~ .ratings-form{
    display: block;
}
.ratings-form header{
    width: 100%;
    font-size: 25px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}
.ratings-form .ratings-textarea{
    height: 100px;
    width: 100%;
}
.ratings-form .ratings-textarea textarea{
    height: 100%;
    width: 100%;
    outline: none;
    color: #eee;
    border: 1px solid #333;
    background: #222;
    padding: 10px;
    font-size: 17px;
    resize: none;
}
.ratings-textarea textarea:focus{
    border-color: #444;
}
.ratings-form .ratings-btn{
    height: 45px;
    width: 100%;
    margin: 15px 0;
}
.ratings-form .ratings-btn button{
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}
.ratings-form .ratings-btn button:hover{
    background: #fd4;
	color: #000;
}
