body, html {
  height: 100%;
  margin: 0;
  /* font: 400 15px/1.8 "Lato", sans-serif; */
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #777;
}
.navbar{
	box-shadow: 5px 2px 0px  ;
}

.user-sign {
	margin-top: 70px;
	max-width: 800px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.signTitle{
	color: black;
}

.navTitle{
	font-family: 'Pacifico', cursive;
	font-size: 25px;
}

/* The beer image background on login screen */
.bg-login{
	position: relative;
	height: 80vh;
	width: 100%;
	display:flex;
	align-items: center;
	justify-content: center;
	background-image: url("../images/beer-half-3.png");
	background-size: cover;
	margin-top: -120px;
	opacity: 0.80;
	z-index: -100;
}


.marker {
  background-image: url('mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}


.btn-outline-success:hover {
  border-color: red;
}

.mapboxgl-canvas-container {
  width: 500px;
  height: 600px;

}
