	<div class="container user-sign">
		<div class="row align-items-start">
			<div class="col">
				<div class="form-signIn">
					<form class="login-form">
						<h1 class="h3 mb-3 fw-normal">Sign in Brewski</h1>
						<div class="form-floating">
							<input type="email" class="form-control email-login" id="floatingInput" placeholder="brew@example.com" />
							<label for="floatingInput">Email Address</label>
						</div>
						<div class="form-floating">
							<input type="password" class="form-control password-login" id="floatingPassword" placeholder="Password" />
							<label for="floatingPassword">Password</label>
						</div>
						<button class="w-100 btn btn-lg btn-warning" type="submit">Sign in</button>
					</form>
				</div>
			</div>
			<div class="col">
				{{!-- SignUp Start --}}
				<div class="form-signIn">
					<form class="signup-form">
						<h1 class="h3 mb-3 fw-normal">Please Stein up</h1>
						<div class="form-floating">
							<input type="text" class="form-control name-signup" id="floatingInput" placeholder="brewski" />
							<label for="floatingInput">Username</label>
						</div>
						<div class="form-floating">
							<input type="email" class="form-control email-signup" id="floatingInput" placeholder="name@example.com" />
							<label for="floatingInput">Email Address</label>
						</div>
						<div class="form-floating">
							<input type="password" class="form-control password-signup" id="floatingPassword" placeholder="Password" />
							<label for="floatingPassword">Password</label>
						</div>
						<button class="w-100 btn btn-lg btn-warning" type="submit">Sign Up</button>
					</form>
				</div>
				{{!-- SignUp End --}}
			</div>
		</div>
	</div>

	<script src="./js/login.js"></script>




{{!-- Old Just in case we need to remember links to login.js --}}
{{! <div class="row">
	<div class="col-md-6">
		<h2>Login</h2>

		<form class="form login-form">
			<div class="form-group">
				<label for="email-login">email:</label>
				<input class="form-input" type="text" id="email-login" />
			</div>
			<div class="form-group">
				<label for="password-login">password:</label>
				<input class="form-input" type="password" id="password-login" />
			</div>
			<div class="form-group">
				<button class="btn btn-primary" type="submit">login</button>
			</div>
		</form>
	</div>
	<div class="col-md-6">
		<h2>Signup</h2>

		<form class="form signup-form">
			<div class="form-group">
				<label for="name-signup">name:</label>
				<input class="form-input" type="text" id="name-signup" />
			</div>
			<div class="form-group">
				<label for="email-signup">email:</label>
				<input class="form-input" type="text" id="email-signup" />
			</div>
			<div class="form-group">
				<label for="password-signup">password:</label>
				<input class="form-input" type="password" id="password-signup" />
			</div>
			<div class="form-group">
				<button class="btn btn-primary" type="submit">signup</button>
			</div>
		</form>
	</div> }}